#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  padding: 0px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero img {
  width: 50%;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.hero p {
  margin:0;
  padding:0;
}

.sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.scoreboard ul {
  list-style-type: none;
}

.transfers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.transfers li {
  border-radius: 10%;
}


span {
  font-weight: bold;
  font-size: large;
}

.prize-image {
  width: 75%;
  border-radius: 10%;
}

li img {
  border-radius: 10%;
}

@media (max-width: 750px) {
.sections {
  display: flex;
  flex-direction: column;
}

.transfers {
  display: grid;
  grid-template-columns: 1fr;
}
}

@media (min-width: 750px) and (max-width: 1069px) {
  .transfers {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}